apiVersion: apps/v1
kind: Deployment
metadata:
  name: hapi
  namespace: fhir-demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hapi
  template:
    metadata:
      labels:
        app: hapi
    spec:
      containers:
        - name: hapi
          image: hapiproject/hapi-fhir-jpaserver-starter:latest
          ports:
            - containerPort: 8080
          readinessProbe:
            httpGet:
              path: /fhir/metadata
              port: 8080
            initialDelaySeconds: 240
            periodSeconds: 20
            timeoutSeconds: 5
          livenessProbe:
            httpGet:
              path: /fhir/metadata
              port: 8080
            initialDelaySeconds: 360
            periodSeconds: 30
            timeoutSeconds: 5
          resources:
            requests:
              cpu: "50m"
              memory: "128Mi"
            limits:
              cpu: "200m"
              memory: "384Mi"